<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Search location">
            <button>Search</button>
        </form>
        <p id="messageOne"></p>
        <p id="coordinates"></p>
        <p id="messageTwo"></p>
        <p id="rainChance"></p>
        <p id="tempHigh"></p>
        <p id="tempLow"></p>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body> 
</html>